<p>sensor-table works!</p>
<!--
| Temperature | Humidity | Radiation |
| 2           | 3        | 3         |
| 3           | 3        | 2         |
| 1           | 2        | 3         |

Sensor      Value   

Temp        20      SLIDER

Hum         10      SLIDER

Rad         5       SLIDER
-->

<!-- <div class="card">
    <h5>Sensors</h5>
    <p-table [value]="sensors">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="value">Value <p-sortIcon field="value"></p-sortIcon></th>
              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sensor>
            <tr>
                <td>{{sensor.name}}</td>
                <td>{{sensor.value}}</td>
            </tr>
        </ng-template>
    </p-table>
</div> -->


<div class="card">
    <h5>Sensors</h5>
    <p-table [value]="sensors">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="value">Value <p-sortIcon field="value"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sensor>
            <tr>
                <td>{{sensor.name}}</td>
                <td>{{sensor.value}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>